
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <nav>
        <a href="{% url 'reviews:review_list' %}">리뷰 목록</a> |

        {% if request.user.is_authenticated %}
            <span>{{ request.user.username }}님 환영합니다!</span> |
            <a href="{% url 'users:logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'users:login' %}">로그인</a> |
            <a href="{% url 'users:signup' %}">회원가입</a>
        {% endif %}
    </nav>

    <h1>로그인</h1>

    <!-- 로그인 폼 -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">로그인</button>
    </form>

    <!-- 회원가입 페이지로 이동 -->
    <a href="{% url 'reviews:review_list' %}">홈으로</a>
    <a href="{% url 'users:signup' %}">회원가입</a>
</body>
</html>